<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700&display=swap" rel="stylesheet">

<nav class="navbar navbar-light bg corCabecalho" th:fragment="cabecalho">
  <a class="navbar-brand " href="/">
    <ion-icon name="business"></ion-icon>
  </a>

  <div class="navbar-text">
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <h3 style="color: #f5f5f5; font-family: 'EB Garamond', serif;">Legis</h3>
    </li>
  </ul>
  </div>
</nav>

<div class="jumbotron" th:fragment="jumbo(valor)">
  <h1 class="display-4 d-flex justify-content-center" th:text="${valor}"></h1>
  <hr class="my-4">
</div>

<body>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>