<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Legis</title>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="/images/tribunais.png" alt="" width="30" height="24">

                <h3>Legis</h3>

        </a>
    </div>
</nav>

<div class="container mt-3">

    <div class="jumbotron">
            <h1 class="display-4 d-flex justify-content-center">Vamos começar</h1>
            <hr class="my-4">
    </div>

    <form th:action="@{/camara/cadastrar}" th:object="${camaraDto}" method="POST">

        <div class="form-group">
            <label for="cnpj" class="form-label">CNPJ</label>
            <input th:field="*{cnpj}" type="text" th:errorclass="is-invalid" class="form-control" id="cnpj">
            <small>Informe o cnpj</small>
            <div class="invalid-feedback" th:errors="*{cnpj}">
            </div>
        </div>

        <div class="form-group">
            <label for="municipio" class="form-label">MUNICÍPIO</label>
            <input th:field="*{municipio}" th:errorclass="is-invalid" type="text" class="form-control" id="municipio">
            <small>Informe o município</small>
            <div class="invalid-feedback" th:errors="*{municipio}">
            </div>
        </div>

        <div class="form-group">
            <label for="email" class="form-label">E-MAIL</label>
            <input th:field="*{email}" th:errorclass="is-invalid" type="email" class="form-control" id="email">
            <small>Informe um e-mail</small>
            <div class="invalid-feedback" th:errors="*{email}"></div>
        </div>

        <div class="form-group">
            <label for="senha" class="form-label">SENHA</label>
            <input th:field="*{senha}" th:errorclass="is-invalid" type="password" class="form-control" id="senha" >
            <small>Informe uma senha entre 5 a 20 caracteres</small>
            <div class="invalid-feedback" th:errors="*{senha}"></div>
        </div>

        <div class="d-flex justify-content-center mb-5">
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </div>

    </form>
</div>

<!-- JavaScript (Opcional) -->
<!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>