<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Legis</title>
</head>

<body>

    <header>
        <div th:replace="/baseTemplate/base :: cabecalho"></div>
    </header>

    <div class="d-flex justify-content-center mt-2" th:insert="/alertas/mensagens"></div>

        <div class="d-flex justify-content-center mt-2">
            <a class="iconeVoltar" href="javascript:history.back()"><ion-icon name="arrow-back-outline"></ion-icon></a>
            <a href="/painel/dashboard"><ion-icon name="menu-sharp"></ion-icon></a>
        </div>
    <div class="container mt-3">

        <div th:replace="/baseTemplate/base :: jumbo('Parlamentares')">

        </div>

        <a class="d-flex justify-content-center mb-3" href="/vereador/cadastro"><ion-icon name="add-circle"></ion-icon></a>
            <table class="table" >
                <thead>
                    <tr>
                        <th scope="col">Parlamentar</th>
                        <th scope="col">Celular</th>
                        <th scope="col">Partido</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="vereador : ${vereadores}">
                        <td th:text="${vereador.getNomeParlamentar()}">Mark</td>
                        <td th:text="${vereador.getNumeroDeCelular()}">Otto</td>
                        <td th:text="${vereador.getPartido().getSigla()}">@mdo</td>
                        <td>
                            <a id="iconeEdicao" th:href="@{/vereador/editar/{id} (id = ${vereador.getId()})}"><ion-icon name="create-outline"></ion-icon></a>
                            <a th:href="@{/vereador/confirma-exclusao/{id} (id = ${vereador.getId()})}"><ion-icon name="close-outline"></ion-icon></a>
                        </td>
                    </tr>
                </tbody>
            </table>

    </div>

    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>